@page
@model IndexModel




<form>
    <div class="form-group">
        <label for="sender's name">Sender's Name:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <label for="sender's email">Sender's E-mail:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email">
    <label for="recipient's name">Recipient's Name:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email">
    <label for="recipient's email">Recipient's Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email">
    <label for="message">Message</label>

    <input type="email" class="form-control" id="email">

    <button type="send" class="btn btn-default">Send</button>
    <div class="g-recaptcha" data-sitekey="6LfJvS8UAAAAABEyjjjR3PFke1abCn2BRC0VHyJc"></div>
</form>