body {
    
    font-family: ariel;
    color: #808080;
    font-size: 30px;
}

h2 {
    font-family: creepster;
    font-size: 60px;
    align-content: center;
}

.panel header {
    font-family: Eater;
}
/* THIS IS NOT WORKING*/
label {
    font-family: UnifrakturCook:70|UnifrakturMaguntia%22;
    font-size: 16px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: #45a049;
    }

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.form-control {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

    .form-control: active {
    }


/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
    */
/* Carousel */
/*.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
    */
/* Make .svg files in the carousel display properly in older browsers */
/*.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
    */
/* QR code generator */
/*#qrCode {
    margin: 15px;
}
    */
/* Hide/rearrange for smaller screens */
/*@media screen and (max-width: 767px) {
    /* Hide captions */
/*.carousel-caption {
    display: none;

}
    }
*/